body {
  position: relative;
  overflow-x: auto;
  overflow-y: auto;
  scroll-behavior: auto;
  padding-bottom: 30%;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  margin: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 600px;
  width: 90%;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #333;
}

main {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  font-size: 1.2em;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #046307;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
}

.centered-text {
  text-align: center;
}

#unitPrices {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.unit-card {
  flex: 0 1 calc(48% - 10px);
  flex: 1;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 5px;
}

#unitPrices h2 {
  color: #333;
}

#unitPrices span {
  font-weight: bold;
  color: #333;
}

#loadingIndicator {
  color: #666;
}

#result {
  margin-top: 10px;
  font-size: 1.2em;
}

.results-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.results-card p {
  flex: 1;
  margin: 5px;
}

span {
  font-weight: bold;
  color: #333;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {
  body {
    font-size: 0.8em;
  }
  button {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    font-size: 1.1em;
  }
  .unit-card {
    flex: 1;
    padding: 10px;
  }
  .results-card {
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 10px;
  }
  .results-card p {
    flex: 1;
    margin: 10px;
  }
}
